.App {
  /* padding: 15px; */
  /* height: 100vh; */
  background: linear-gradient(to right, #1f363d, #70a9a1, #cfe0c3);
}
.sidedash__container {
  display: flex;
  align-items: stretch;
  /* justify-content: stretch; */
  width: 100%;
}
